@using System.Security.Claims


<div class="header no-print">
    @{
        string dynamicReturnUrl = Context.Request.Path + "?" + Context.Request.QueryString;
    }
    <div>
        <span>List of events </span>
    </div>

</div>